div{
	border-radius: 5px;
}
#header{
	z-index: 1;
position:fixed;
width: 97.5%;
margin-top: -20px;
height: 60px;
background-color:#668284; 
margin-bottom:10px;
}
.left{
position: relative;
float:left;
margin-top:50px;
height: 500px;
width:10%;
background-color: #976850;
margin-bottom:10px;	
}

.right{
position: relative;
float:right;
width:88%;
height: 500px;
margin-top: 50px;
margin-bottom:30px;
background-color: #F4EBC3;
	
}
#footer{
position: relative;
height:50px;
clear:both;
font-family:Verdana,sans-serif;
font-size:14px;
text-align:center;
color:#ffffff;
background-color:#668284;
}

#name{
color:#ffffff;
float:left;
font-family:Verdana;
}
#email{
	float:right;
	color:#ffffff;
	font-family:Verdana;
}
